.explore {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.explore .explore-content .explore-item {
  cursor: pointer;
}
.explore .explore-content .explore-item .image {
  margin-right: 15px;
}
.explore .explore-content .explore-item .image img {
  width: 80px;
  border-radius: 10px;
}
.explore .explore-content .explore-item .text h4 {
  margin: 0;
  line-height: 1.3;
}
