.header{
    padding: 10px 0;
box-shadow: 0px 1px 2px rgb(0 0 0 / 8%),
                0px 4px 12px rgb(0 0 0 / 5%);
position: sticky;
top: 0;
background-color: white;
}

/* logo */
.header .logo i{
    color: rgb(255, 56, 92);
font-size: 30px;
margin-right: 5px;
}
.header .logo h2{
    color: rgb(255, 56, 92);
margin: 0;
}

/* search-box */
.header .search-box{
    padding: 7px 7px 7px 12px;
border-radius: 35px;
border: 1px solid #777;
box-shadow: 0px 1px 2px rgb(0 0 0 / 8%),
                0px 4px 12px rgb(0 0 0 / 5%);
display: flex;
justify-content: space-between;
align-items: center;
}
.header .search-box input.search-aeria{
    margin-right: 10px;
border: 0;
outline: none;
}
.header .search-box input.search-aeria:focus{
    border: 0;
outline: none;
}
.header .search-box .search-icon{
    width: 30px;
height: 30px;
border-radius: 50%;
text-align: center;
background-color: rgb(255, 56, 92);
cursor: pointer;
}
.header .search-box .search-icon i{
    font-size: 12px;
color: white;
line-height: 30px;
}

/* nav and links */
.header nav{
    display: flex;
justify-content: flex-end;
align-items: center;
}
.header nav > ul{
    display: flex;
margin: 0;
padding-left: 0;
}
.header nav > ul > li > a{
    color: black;
font-size: 17px;
padding: 0 18px;
}

.header nav > ul > li.drop-down{
    position: relative;
}
.header nav > ul > li.drop-down > a{
    border: 1px solid #ddd;
display: block;
padding: 7px 20px;
border-radius: 30px;
}
.header nav > ul > li.drop-down:hover > a{
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%),
                0px 4px 12px rgb(0 0 0 / 5%);
}
.header nav > ul > li.drop-down > ul.drop-down-menu{
    padding: 15px 0 15px 20px;
width: 200px;
border-radius: 10px;
position: absolute;
top: 40px;
right: 0;
background-color: white;
box-shadow: 0px 1px 2px rgb(0 0 0 / 8%),
                0px 4px 12px rgb(0 0 0 / 5%);
visibility: hidden;
opacity: 0;
transition: var(--transition-duarition);
}
.header nav > ul > li.drop-down:hover ul.drop-down-menu{
    visibility: visible;
opacity: 1;
}
.header nav > ul > li.drop-down > ul.drop-down-menu > li:first-child > a{
    display: block;
padding: 7px 10px;
color: black;
font-size: 15px;
font-weight: 600;
}
.header nav > ul > li.drop-down > ul.drop-down-menu > li > a{
    display: block;
padding: 7px 10px;
color: black;
font-size: 14px;
font-weight: 400;
}
.header nav > ul > li.drop-down > ul.drop-down-menu > li > a:hover{
    background-color: #eee;
}

@media screen and (max-width: 767px) {
    .header .search-box{
        width: 100%;
    }
    .header .logo,
    .header nav{
        display: none;
    }
}