.hosting {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}
.hosting .content {
  width: 100%;
  border-radius: 25px;
  background-image: url(../image/try-hosting/hosting-img.webp);
  background-position: center;
  background-size: cover;
  padding: 120px 100px;
}
@media screen and (max-width: 767px) {
  .hosting .content {
    padding: 15px;
  }
}
.hosting .content h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  color: white;
}
@media screen and (max-width: 767px) {
  .hosting .content h1 {
    font-size: 20px;
  }
}
.hosting .content p {
  font-size: 19px;
  font-weight: bold;
  margin: 20px 0 30px 0;
  line-height: 1.6;
  color: white;
}
@media screen and (max-width: 767px) {
  .hosting .content p {
    font-size: 15px;
  }
}
.hosting .content button {
  padding: 15px;
  border-radius: 15px;
  border: 0;
  outline: none;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 400;
}
